body {
  margin: 0;
}

.header {
  top: 0;
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
  font-size: small;
}

/* For menue line below header */
.topnav {
  margin-top: -10px;
  overflow: hidden;
  background-color: orange;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}
.topnav b {
  float: left;
  color: black;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}

/*Three equal columns for doc uploader holder*/
.column {
  text-align: center;
  font-size: medium;
  background-color: gray;
  float: left;
  width: 33.33%;
}
.h2margincol {
  margin-top: 3px;
}
/* For upload buttons */
.columnSub {
  text-align: left;
  font-size: small;
  float: left;
  width: 93%;
}
.h2Fileuploadleft{
}
.h2Fileuploadright{
}
.h2Fileuploadbutton{
  margin-left: -10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Main doc holder */
#content, html, body {
  border: black;
  height: 93.5%;
  margin-top: -0.5%;
}
#left {
  float: left;
  margin-top: -0.9%;
  width: 44%;
  height: 98%;
  overflow: scroll;
  overflow-x: hidden;
  text-align: justify;
  background-color: white;
}
#center {
  float: left;
  margin-top: -0.9%;
  width: 12%;
  height: 98%;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  background-color: rgba(250,250,250);
}
#right {
  float: right;
  margin-top: -0.9%;
  width: 44%;
  height: 98%;
  overflow: scroll;
  overflow-x: hidden;
  text-align: justify;
  background-color: white;
}

.centerAbs {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 50%;
  border: double;
  border-spacing: inherit;
}

.footer {
  bottom: 0;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.middleButton {
  margin-top: -20px;
}