{% extends 'base_layout.html' %}
{% load static %}

{% block leftColumn %}

{% if startRecording %}

	<div id="left" onmouseup='textSelection({{ countRef }})'>
		{% include susp %}
	</div>
{% else %}
	<div id="left">
		{% include susp %}
	</div>
{% endif %}


{% endblock %}


{% block colorColumn %}


{% if startRecording %}

    <button type="submit" name="startRecording" value="startRecording" style="background-color: red;">Start Recording</button>
    <h2 style="margin-bottom: -8px;"> </h2> 
    <button type="submit" name="finishRecording" value="finishRecording">Finish Recording</button>
    <h2 style="margin-bottom: -8px;"> </h2>

{% else %}

    <button type="submit" name="startRecording" value="startRecording">Start Recording</button>
    <h2 style="margin-bottom: -8px;"> </h2> 
    <button type="submit" name="finishRecording" value="finishRecording">Finish Recording</button>
    <h2 style="margin-bottom: -8px;"> </h2>

{% endif %}


{% endblock %}

{% block rightColumn %}

{% if startRecording %}
	<div id="right" onmouseup='textSelection({{ countRef }})'>
		{% include src %}
	</div>
{% else %}
	<div id="right">
		{% include src %}
	</div>
{% endif %}

<script> renderCasesPro() </script>
<script> renderCases({{ prevRecordings|safe }}) </script>

{% endblock %}